h2 {
  margin: 8px 0;
  color: var(--color-text);
}

h4 {
  margin: 0;
  font-weight: 400;
  color: var(--color-text-gray);
}

.logo {
  min-width: 240px;
  max-width: 240px;
  height: 240px;
  margin: 0 auto;
  display: block;
}

.version {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--color-text);

  .btn {
    width: 32px;
    height: 32px;
    font-size: large;
    color: var(--color-text);
    background-color: var(--color-btn-bg);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--color-btn-hover-bg);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--color-btn-disabled);

      &:hover {
        background-color: var(--color-btn-bg);
      }
    }
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  color: var(--color-text);

  a {
    color: var(--color-text);
  }
}