html {
  background-color: white;
  text-align: center;
  color: black;

  min-width: 800px;
  min-height: 100px;
}

body {
  margin: 0;
  font-family: "Microsoft YaHei", Arial, sans-serif;

  &:lang(zh) {
    font-family: "Microsoft YaHei", sans-serif;
  }
}

@font-face {
  font-family: 'Fira Code';
  src: url('assets/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('assets/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #f0f0f0;
  --color-text: #000000;
  --color-nav-bg: #e0e0e0;
  --color-btn-bg: #e0e0e0;
  --color-btn-hover-bg: #d0d0d0;
  --color-btn-disabled: #a0a0a0;
  --color-scrollbar-thumb-bg: #ccc;
  --color-scrollbar-thumb-hover-bg: #999;
  --color-scrollbar-track-bg: #f1f1f1;
  --color-listitem-bg: #f9f9f9;
  --color-listitem-border: #ccc;
  --color-listitem-text: #333;
  --color-text-gray: #666;
  --color-content-block-border: #666;
  --color-content-block-bg: #f0f0f0;
  --color-content-table-bg-even: #f9f9f9;
  --color-content-table-bg-odd: #f0f0f0;
  --color-content-table-hover-bg: #e0e0e0;
  --color-home-border: #ccc;
}

.dark {
  --color-bg: #262626;
  --color-text: #fff;
  --color-nav-bg: #323232;
  --color-btn-bg: #323232;
  --color-btn-hover-bg: #3f3f3f;
  --color-btn-disabled: #6f6f6f;
  --color-scrollbar-thumb-bg: #4f4f4f;
  --color-scrollbar-thumb-hover-bg: #a3a3a3;
  --color-scrollbar-track-bg: #252525;
  --color-listitem-bg: #000000;
  --color-listitem-border: #262626;
  --color-listitem-text: #dfdfdf;
  --color-text-gray: #a3a3a3;
  --color-content-block-border: #4f4f4f;
  --color-content-block-bg: #262626;
  --color-content-table-bg-even: #444;
  --color-content-table-bg-odd: #262626;
  --color-content-table-hover-bg: #323232;
  --color-home-border: #4f4f4f;
}