.ContentFunction {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--color-nav-bg);

  .btn {
    width: 32px;
    height: 32px;
    font-size: large;
    color: var(--color-text);
    background-color: var(--color-btn-bg);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--color-btn-hover-bg);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--color-btn-disabled);

      &:hover {
        background-color: var(--color-btn-bg);
      }
    }
  }
}